/*Fuentes grecia 6691664488*/
@import url(../fonts/KlinicSlab.css);
@import url(../fonts/FiraSans.css);
body{
	font-family: Klinic Slab;
	font-size: 22px;
	letter-spacing: .5px;
}
div.btn{
	color: white;
	width: auto;
	padding: 0 1.2em;
	border-radius: 5px;
	font-family: Klinic Slab Book;
}
div.btn.leer{
	background: #FF7064;
}
div.btn.leer img.icon{
	margin-top: -.2em;
}
footer{
	width: 100%;
	float: left;
	overflow: hidden;
	margin-top: 1em;
	background: #2FCC9F;
	text-align: center;
	color: white;
	font-family: Fira Sans;
}
figure.autor{
	padding: 1em;
}
figure.autor figcaption{
	padding: .6em 0 0 0;
}
figure.autor img{
	width: 110px;
	border-radius: 50%;
}
header{
	background-image: url(../icon/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 400px;
    float: left;
    width: 100%;
    padding: 0;
}
div.redes{
	padding: 10px;
	float: right;
}
img.icon{
	height: .8em;
}
nav{
	width: 100%;
	text-align: center;
	background: #FF7064;
}
nav a{
	color: white;
	padding: .2em;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
	transition: .3s background;
}
nav a:hover{
	color: white;
	text-decoration: none;
	background: rgba(255,255,255,.1);
	transition: .3s background;
}
span.glyphicon{
	padding: 0 .5em 0 1em;
}